@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Yesteryear&display=swap');

:root{
    --fonte-padrao: Arial, Verdana, Helvetica, sans-serif;
    --fonte-destaque:  'Yesteryear', cursive;

     }

     *{
        margin: 0px;
        padding: 0px;
    }

    body {
        background-color: #272727;
    }

    header{
       background-color: white;
        min-height: 150px;
        text-align: center;
        padding-top: 40px;
    }
    
    header > h1{
    color: black;
    font-family: var(--fonte-destaque);
    font-size: 4em;
    font-weight: normal;
    margin-bottom: 20px;
    text-shadow: 2px 2px 0px rgba(0, 0, 0, 0.26);
    
    }
    
    header > p{
        font-family: var(--fonte-padrao);
        color: black;
        font-size: 1.2em;
        max-width: 500px;
        margin: auto;
        padding-bottom: 50px;
        padding: 0px 10px;
        text-shadow: 2px 2px 0px rgba(0, 0, 0, 0.329);
    
    }
    
    nav {
        background-color: #272727;
        padding: 12px;
        box-shadow: 0px 7px 7px rgba(0, 0, 0, 0.178);
        font-family: var(--fonte-padrao);
    }
    
    nav > a{
        color: white;
        padding: 10px;
        text-decoration: none;
        font-weight: bold;
        border-radius: 5px;
        transition-duration: 0.5s;
    }
    
    nav > a:hover{
        background-color: white;
        color: #272727;
        
    
    }
    main {
        background-color: #272727;
        font-family: var(--fonte-padrao);
    }

    main h2 {
        padding-top:30px ;
        text-align: center;
        padding-bottom: 20px;
    }


    main p{
        margin: 15px 20px ;
        text-align:justify ;
        text-indent: 30px;
        font-size: 1em;
        line-height: 2em;
        
    }

    h3 {
        text-align: center;
        color: white;
        padding-bottom: 20px;
        font-size: 2em;
        text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.842);
    }
    
    article{
        margin-bottom: 30px;
        box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.822) ;
    }
    
    article.roxo {
        padding: 15px;
        height: 200px;
        background-color: white;
        background-image: url(../imagens/paisagem-roxo.jpg);
        background-repeat: no-repeat;
        background-size: cover;
        
    }
    
    article.vermelho {
        padding: 15px;
        height: 200px;
        background-color: white;
        background-image: url(../imagens/paisagem-vermelho.jpg);
        background-repeat: no-repeat;
        background-size: cover;
        
    }

    article.marrom {
        padding: 15px;
        height: 200px;
        background-color: white;
        background-image: url(../imagens/paisagem-marrom.jpg);
        background-repeat: no-repeat;
        background-size: cover;
        background-position: left bottom;

    }
    article.azul {
        padding: 15px;
        height: 200px;
        background-color: white;
        background-image: url(../imagens/paisagem-azul.jpg);
        background-repeat: no-repeat;
        background-size: cover;

    }

    article.verde {
        padding: 15px;
        height: 200px;
        background-color: white;
        background-image: url(../imagens/paisagem-verde.jpg);
        background-repeat: no-repeat;
        background-size: cover;

    }

    article.amarelo {
        padding: 15px;
        height: 200px;
        background-color: white;
        background-image: url(../imagens/paisagem-amarelo.jpg);
        background-repeat: no-repeat;
        background-size: cover;

    }

    article.laranja {
        padding: 15px;
        height: 200px;
        background-color: white;
        background-image: url(../imagens/paisagem-laranja.jpg);
        background-repeat: no-repeat;
        background-size: cover;

    }

    article.rosa {
        padding: 15px;
        height: 200px;
        background-color: white;
        background-image: url(../imagens/paisagem-rosa.jpg);
        background-repeat: no-repeat;
        background-size: cover;

    }


    div {
        display: inline-block;
        border: 1.5px solid black;
        border-radius: 50%;
        width: 150px;
        height: 150px;
       
        
    }
    div:hover {
        transition-duration: 0.5s;
        width: 200px;
        height: 200px;
        box-shadow: 0px 5px 5px rgba(0, 0, 0, 0.507);
    }

    div.roxo {
        background-color: purple;
    }

    div.azul {
        background-color: blue;
    }

    div.vermelho {
        background-color: red;
        
    }

    div.verde {
        background-color: green;
    }

    div.amarelo{
        background-color: yellow;
    }

    div.marrom {
        background-color: #4d3426;
    }

    div.laranja {
        background-color: rgb(255, 123, 0);
    }

    div.rosa {
        background-color: #FF00FF;
    }

    footer {
        background-color: #504f4f;
        text-align: center;
        color: white;
        font-size: bold;
        padding: 10px 0px;
    }

