@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Yesteryear&display=swap');

:root{
    --cor0:#c5ebd6;
    --cor1:#83e1ad;
    --cor2:#3ddc84;
    --cor3:#2fa866;
    --cor4:#1a5c37;
    --cor5:#063d1e;

    --fonte-destaque:  'Yesteryear', cursive;

     }

     *{
        margin: 0px;
        padding: 0px;
    }

    header{
       background-color: white;
        min-height: 150px;
        text-align: center;
        padding-top: 40px;
    }
    
    header > h1{
    color: black;
    font-family: var(--fonte-destaque);
    font-size: 4em;
    font-weight: normal;
    margin-bottom: 20px;
    text-shadow: 2px 2px 0px rgba(0, 0, 0, 0.26);
    
    }
    
    header > p{
        font-family: var(--fonte-padrao);
        color: black;
        font-size: 1.2em;
        max-width: 500px;
        margin: auto;
        padding-bottom: 50px;
        padding: 0px 10px;
        text-shadow: 2px 2px 0px rgba(0, 0, 0, 0.329);
    
    }
    
    nav {
        background-color: #272727;
        padding: 12px;
        box-shadow: 0px 7px 7px rgba(0, 0, 0, 0.178);
    }
    
    nav > a{
        color: white;
        padding: 10px;
        text-decoration: none;
        font-weight: bold;
        border-radius: 5px;
        transition-duration: 0.5s;
    }
    
    nav > a:hover{
        background-color: white;
        color: #272727;
        
    
    }
    main {
        background-color: #272727;
    }

    main h2 {
        padding-top:30px ;
        text-align: center;
        padding-bottom: 20px;
    }


    main p{
        margin: 15px 0px ;
        text-align:justify ;
        text-indent: 30px;
        font-size: 1em;
        line-height: 2em;
    }

    article{
        margin-bottom: 30px;
        box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.822) ;
    }

    article.roxo {
        padding: 15px;
        height: 200px;
        background-color: white;
        background-image: url(../imagens/paisagem-roxo.jpg);
        background-repeat: no-repeat;
        background-size: cover;

    }
    
    article.vermelho {
        padding: 15px;
        height: 200px;
        background-color: white;
        background-image: url(../imagens/paisagem-vermelho.jpg);
        background-repeat: no-repeat;
        background-size: cover;

    }
    article.azul {
        padding: 15px;
        height: 200px;
        background-color: white;
        background-image: url(../imagens/paisagem-azul.jpg);
        background-repeat: no-repeat;
        background-size: cover;

    }

    article.verde {
        padding: 15px;
        height: 200px;
        background-color: white;
        background-image: url(../imagens/paisagem-verde.jpg);
        background-repeat: no-repeat;
        background-size: cover;

    }

    article.amarelo {
        padding: 15px;
        height: 200px;
        background-color: white;
        background-image: url(../imagens/paisagem-amarelo.jpg);
        background-repeat: no-repeat;
        background-size: cover;

    }

    div {
        display: inline-block;
        border: 1.5px solid black;
        border-radius: 50%;
        width: 150px;
        height: 150px;
       
        
    }
    div:hover {
        transition-duration: 0.5s;
        width: 200px;
        height: 200px;
        box-shadow: 0px 5px 5px rgba(0, 0, 0, 0.507);
    }

    div.roxo {
        background-color: purple;
    }

    div.azul {
        background-color: blue;
    }

    div.vermelho {
        background-color: red;
        
    }

    div.verde {
        background-color: green;
    }

    div.amarelo{
        background-color: yellow;
    }